.personalizado{
    width: auto;
    height: auto;
    background-color: rgb(0, 101, 141);
  
}

.grid{
    background-color: rgb(235, 255, 146);
  
}
    
.izq{
    background-color: rgb(217, 255, 49);
  
}

.der{
    background-color: rgb(217, 255, 49);
  
}

.columnas{
    background-color: rgb(26, 165, 14);
  
}

.uno{
    background-color: rgb(22, 128, 12);
  
}

.tres{
    background-color: rgb(22, 128, 12);
  
}


.H1{
    text-align: center;


}